.wp-block-gutenberg-taxonomy-cards-taxonomy-category-cards {

	.wp-block-taxonomy-category-cards__card {

		&:hover {
			transform: none;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

			.wp-block-taxonomy-category-cards__image {
				transform: none;
			}
		}
	}
}
